body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    padding: 10px;
}

#tvicon
{
    width: 20px;
    height: auto;
}

#topmost_div
{
    position: absolute;
    width: 98%;
    height: 98%;
}

#mousepad_div
{
	height: 80%;
}

#mousepad
{
	width: 100%;
	height: 100%;
    background: gray;
}

#texteditor
{
    margin: auto;
    width: 100%;
}

#hint
{
    height: 10%;
    width: 100%;
}

.help_image
{
    width: auto;
    height: 35px;
}

